<div class="hero-list-container">

  <mat-card *ngFor="let rate of ratesList" class="hero-card">
    <mat-card-header>
      <mat-card-title>{{rate.payload.doc.data().name}}</mat-card-title>
      <mat-card-subtitle>{{rate.payload.doc.data().detailName}}</mat-card-subtitle>
    </mat-card-header>

    <swiper
      class="swiper-container"
      fxFlex="auto"
      [config]="config"
      [disabled]="false"
    >
      <div *ngFor="let image of rate.payload.doc.data().image" class="swiper-slide">
        <img src="{{image.src}}">
      </div>
    </swiper>

    <mat-card-content>
      <mat-chip-list>
        <mat-chip *ngFor="let ingredient of rate.payload.doc.data().ingredients">{{ingredient}}</mat-chip>
      </mat-chip-list>
      <span class="details-span">{{rate.payload.doc.data().features}}</span>
      <p>{{rate.payload.doc.data().price}} ₴</p>
      <p>Сделаем за {{rate.payload.doc.data().time}} часов</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openEditDialog(rate)">Edit</button>
      <button mat-button (click)="deleteCurrentRate(rate)">Delete</button>
    </mat-card-actions>
  </mat-card>

</div>
