<div class="hero-list-container">

  <mat-card *ngFor="let product of productList" class="hero-card">
    <mat-card-header>
      <mat-card-title>{{product.name}}</mat-card-title>
    </mat-card-header>

    <swiper
      class="swiper-container"
      fxFlex="auto"
      [config]="config"
      [disabled]="false"
    >
      <div *ngFor="let image of product.photos" class="swiper-slide">
        <img src="{{image.src}}">
      </div>
    </swiper>

    <mat-card-content>
      <p>{{product.price}} ₴</p>
      <span>{{product.details}}</span>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openEditDialog(product)">Edit</button>
      <button mat-button (click)="deleteCurrent(product)">Delete</button>
    </mat-card-actions>
  </mat-card>

</div>
