<mat-card>
  <mat-card-title>Reset Password</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="resetPass()">
      <p class="text-center">Please enter your email address to request a password reset.</p>
      <p>
        <mat-form-field>
          <input matInput type="email" placeholder="Email Address" formControlName="email" required>
        </mat-form-field>
      </p>
      <div class="buttons-container">
        <button mat-button color="primary" class="loginBtn" value="Log in" type="submit">Reset Password</button>
        <span>Go back to?<a mat-flat-button class="redirect" routerLink="/sign-in">Log In</a></span>
      </div>
    </form>
  </mat-card-content>
</mat-card>
