/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-horizontal-stepper-content {
  display: flex;
  flex-direction: column;
}
div.mat-chip-list-wrapper {
  padding-top: 10px;
  padding-bottom: 5px;
}
.swiper-wrapper img {
  max-height: 400px;
}
